@model SiparisApp.Models.OrderDetails

@{
	ViewBag.Title = "CreateOrderDetails";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateOrderDetails</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>OrderDetails</h4>
		<hr />

		<div class="form-group" id="createorder">
			@Html.Partial("~/Views/Order/CreateOrderPartial.cshtml", Model)
		</div>

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.OrderID, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.OrderID, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.OrderID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<label for="inputCurrency" class="col-sm-2 control-label">Item</label>
			<div class="col-sm-10">
				@Html.DropDownList("ItemID", null, htmlAttributes: new { @class = "form-control" })
			</div>
		</div>	
		<div class="form-group">
			<label for="inputCurrency" class="col-sm-2 control-label">UnitPrice</label>
			<div class="col-sm-10" id="sayi1">
				@Html.DropDownList("UnitPriceID", null, htmlAttributes: new { @class = "form-control" })
			</div>
		</div>		
		
		<div class="form-group">
			<label for="inputCurrency" class="col-sm-2 control-label">Currency</label>
			<div class="col-sm-10">
				@Html.DropDownList("CurrencyCode", null, htmlAttributes: new { @class = "form-control" })
			</div>
		</div>		
		<div class="form-group">
			@Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10" id="sayi2">
				@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
			</div>
		</div>
		
		<script src="~/scripts/jquery-3.1.1.min.js"></script>
		<script src="~/scripts/geneltoplam.js"></script>

		<input type="button" id="btnCarp" value="ÇARP" onclick="Carpma()">
		<div id="kutuSonuc"></div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">			
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
	</div>
}
<div>
	@Html.ActionLink("Back to List", "OrderList")
</div>

